.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.register {
  padding-top: 20px;
}

.center {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 40%;
}
