/* .Maintable {
  text-align: center;
  width: 80%;
  padding: 30px;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 10%;
} */

.Maintable {
  padding: 30px;
}

.createbtn {
  margin-bottom: 20px;
}
